<?xml version="1.0"?>
<robot name="Jiggy">

	<material name="blue">
	  <color rgba="0 0 1 1"/>
	</material>
	<material name="other">
	  <color rgba="0.3 0.3 1 1"/>
	</material>

	<link name="base_link">
		<visual>
		  <geometry>
			<box size="1 1 1"/>
		  </geometry>
		  <material name="blue"/>
		</visual>

	</link>

	<link name="lens">
		<visual>
		  <geometry>
			<cylinder length="1" radius="1"/>
		  </geometry>
		  <material name="other"/>
		</visual>
	</link>
	
	<joint name="base_to_lens" type="fixed">
	 	<parent link="base_link"/>
		<child link="lens"/>
		<origin xyz="0 1 1"/>
	</joint>
	  

</robot>
