<?xml version="1.0" ?>

<!--Generates a urdf from the macro in sia5_macro.xacro -->

<robot name="dual_manipulator" xmlns:xacro="http://ros.org/wiki/xacro">

<material name="purple">
	<color rgba="0.6 0 0.2 2"/>
</material>


<link name="base_link">
	<visual>
		<geometry>
			<box size="1 2 0.2"/>
		</geometry>
		<material name="purple"/>
	</visual>
</link>

	<xacro:include filename="$(find motoman_sia5d_support)/urdf/sia5d_macro.xacro"/>
	<xacro:motoman_sia5d prefix="1"/>

<!--ur5 part begins-->

	<xacro:include filename="/home/roberts/roberts-rtech/src/dual_manipulator_support/ur_description_edit/urdf/ur5_robot.urdf.xacro"/>

<!--ur5 part ends -->
	

<joint name="base_to_robot_1" type="fixed">
	<parent link="base_link"/>
	<child link="1base_link"/>
	<origin xyz="0 0.5 0.1"/>
</joint>


<joint name="base_to_robot_2" type="fixed">
	<parent link="base_link"/>
	<child link="_base_link"/>
	<origin xyz="0 -0.5 0.1"/>
</joint>

</robot>
